view{
	font-size: 28rpx;
	box-sizing: border-box;
}
.page{
	background-color: #F5F5F5;
	min-height: 100vh;
}
.page-top{
	padding-top:30rpx;
}
.flex,.flex-box,.flex-row{
	display: flex;
}
.flex-end{
	justify-content:flex-end;
}
.flex-align{
	align-items: center;
}
.flex-center{
	align-items: center;
	justify-content: center;
}
.space-between{
	justify-content: space-between;
}
.flex-wrap{
	flex-wrap: wrap;
}
.text-center{
	text-align: center;
}
.pad{
	padding-left:30rpx;
	padding-right:30rpx;
}
@keyframes circle {
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}
.px-15{
	padding-top:15rpx;
	padding-bottom:15rpx;
}
.input-placeholder{
	font-size: 26rpx;
	color:#999999;
}
.c-3{
	color:#333739;
}
.c-5{
	color:#545657;
}
.c-6{
	color:#666769;
}
.c-9{
	color:#999A9A;
}
.c-f{
	color:#FFFFFF;
}
.c-y{
	color:$yellow;
}
.text-y{
	color:$yellow-text;
}
.px-15{
	padding-left:15rpx;
	padding-right:15rpx;
}
.bg-white{
	background-color: #FFFFFF;
}
.bg-gray{
	background-color: #F5F5F5;
}
.bg-gray-light{
	background-color: #FAFAFA;
}
.bg-gray-empha{
	background-color: #F1F2F3;
}
.border{
	border:1rpx solid #EFEFEF;
}
.btn{
	width:auto;
	margin-left:0;
	margin-right:0;
	padding-left:30rpx;
	padding-right:30rpx;
	font-size: 14px;
	background-color: transparent;
	&.primary{
		background-color:$theme-color;
		color:#FFFFFF;
	}
	&.info{
		border:1rpx solid #DCDCDC;
	}
}
.font-bold{
	font-weight: bold;
}
.font-normal{
	font-weight: normal;
	font-style: normal;
}

@for $i from 0 through 30 {
	.ml-#{$i*2} {
		margin-left: #{$i * 2}rpx;
	}
	.mr-#{$i * 2} {
		margin-right: #{$i * 2}rpx;
	}
	.mt-#{$i * 2} {
		margin-top: #{$i * 2}rpx;
	}
	.mb-#{$i * 2} {
		margin-bottom: #{$i * 2}rpx;
	}
}
@for $i from 0 through 20 {
	.pt-#{$i*2}{
		padding-top:#{$i * 2}rpx;
	}
	.px-#{$i * 2} {
		padding-left: #{$i* 2}rpx!important;
		padding-right: #{$i* 2}rpx!important;
	}
	.py-#{$i * 2} {
		padding-top: #{$i * 2}rpx!important;
		padding-bottom: #{$i * 2}rpx!important;
	}
	.pad-#{$i * 2}{
		padding:#{$i * 2}rpx;
	}
	.radius-#{$i * 2}{
		border-radius: #{$i * 2}rpx;
	}
	.font-#{20 + $i * 2}{
		font-size: #{22 + $i * 2}rpx;
	}
}
@for $i from 1 through 5{
	.text-line#{$i}{
		overflow: hidden;
		display: -webkit-box!important;
		text-overflow: ellipsis;
		word-break: break-all;
		-webkit-line-clamp: #{$i};
		-webkit-box-orient: vertical!important;
	}
}


