$theme-color:#26b3a0;
$theme-dark-color:rgba(#26b3a0,.8);
$bg-theme-color:rgba(#26b3a0,.1);
$blue:#03A9F4;
$yellow:#FFC107;
$yellow-text:#ffeb3b;
$font-normal:#333333;
$font-middle:#666666;
$font-light:#333333;